* {
    box-sizing: border-box;
}

body {
    padding-bottom: 20px;
}

.img-main {
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 10px #8a98ad;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('/img/DSC00223_500x678.jpg');
  background-position: -5px -15px;
  background-size: cover;
}

.btn-contact {
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: box-shadow 1s ease;
            transition: box-shadow 1s ease;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-family: "Average";
    font-weight: bold;
    transition: transform .2s;
}

h1 {
    font-family: "Nixie One";
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-family: "Average";
    color: #8a98ad;
    font-size: 24px;
}

.light-green {
    color: #4dc176;
}

.red {
    color: #c950a3;
}

span.glyphicon {
    font-size: 100px;
    display: block;
    margin: 0 auto;
}

.glyphicon-file:before,
.glyphicon-wrench:before,
.glyphicon-envelope:before {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.flip-card:hover {
    border: 1px solid;
    border-radius: 2px;
}

.card-portfolio:hover {
    border-color: #39c1b3;
    box-shadow: 0 0 10px #39c1b3;
}

.card-contacts:hover {
    border-color: #ce66b8;
    box-shadow: 0 0 10px #ce66b8;
}

.card-skills:hover {
    border-color: #6aca36;
    box-shadow: 0 0 10px #6aca36;
}

.flip-card {
    display: block;
    margin: auto;
    width: 200px;
    padding: 20px;
    border: 1px solid transparent;
}

.card-portfolio:hover h3 {
    color: #39c1b3;
}

.card-contacts:hover h3 {
    color: #ce66b8;
}

.card-skills:hover h3 {
    color: #6aca36;
}

.flip-card:hover h3 {
    transform: scale(1.05);
}