* {
    box-sizing: border-box;
}

body {
    padding-bottom: 20px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
    box-shadow: 0 0 5px rgb(255,124,189);
    z-index: -1;
}

.header {
    margin-bottom: 30px;
}

.img-main {
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 10px #8a98ad;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('../img/DSC00223_500x678.jpg');
  background-position: -5px -15px;
  background-size: cover;
}

/*.btn-contact {
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: box-shadow 1s ease;
            transition: box-shadow 1s ease;
    font-family: 'Josefin Sans', sans-serif;
}*/

h3 {
    font-family: "Average";
    font-weight: bold;
    transition: transform .2s;
}

h1 {
    font-family: "Nixie One";
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-family: "Average";
    color: #8a98ad;
    font-size: 24px;
}

.light-green {
    color: #4dc176;
}

.red {
    color: #c950a3;
}

span.glyphicon {
    font-size: 100px;
    display: block;
    margin: 0 auto;
}

.glyphicon-file:before,
.glyphicon-wrench:before,
.glyphicon-envelope:before {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.flip-card:hover {
    transform: rotateY(180deg);    /*delete*/
}

.card-portfolio:hover .front,
.card-portfolio .back {
    border: 1px solid #39c1b3;
    box-shadow: 0 0 10px #39c1b3;
}

.card-contacts:hover .front,
.card-contacts .back {
    border: 1px solid #ce66b8;
    box-shadow: 0 0 10px #ce66b8;
}

.card-skills:hover .front,
.card-skills .back {
    border: 1px solid #6aca36;
    box-shadow: 0 0 10px #6aca36;
}

.flip-card {
    margin: auto;
    width: 200px;
    height: 200px;
    transition: transform .6s ease;
    transform-style: preserve-3d;
    position: relative;
}

.card-portfolio:hover .front h3 {
    color: #39c1b3;
}

.card-contacts:hover .front h3 {
    color: #ce66b8;
}

.card-skills:hover .front h3 {
    color: #6aca36;
}

.flip-card:hover .front h3 {
    transform: scale(1.05);
}

.col-sm-4 {
    perspective: 700px;
}

.front,
.back {
    width: 200px;
    height: 200px;
    padding: 20px;
    position: absolute;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid transparent;
    text-align: center;
    backface-visibility: hidden;
    background-color: white;
}

.back {
    transform: rotateY(180deg);
}

.front {
    z-index: -1;
}

.back h3 {
    margin-top: 10px;
}
.back p {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 18px;
}

.card-portfolio .back a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, #1fbec7, #0bd047);
}

.card-portfolio .back a:hover {
    box-shadow: 0 0 10px #0bd047;
}

.skill {
    width: 30%;
    transition: transform 0.2s ease;
}

.skill:nth-child(even) {
    margin-left: 10px;
}

.skills {
    margin-top: -5px;
}

.skill:hover {
    transform: scale(1.3);
}


.socials div {
    display: inline-block;
    padding: 5px;
    font-size: 24px;
}

.socials {
    margin-top: 10px;
}

.fa {
    transition: transform 0.2s ease;
}

.fa:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.fa-facebook {
    color: #3b5998;
}

.fa-vk {
    color: #507299;
}

.fa-twitter {
    color: #4099FF;
}

.fa-telegram {
    color: #1f95d4;
}
